{% extends 'base.html' %}
{% block contenido %}
<div class="page-header">
    <h1 class="bg-primary text-center">REGISTRO DE USUARIOS</h1>
</div>
    <form action="/usuarios/registrar" method="post" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">Nombre completo:</label>
            <div class="col-sm-6">
                <input type="text" name="nombre" required class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Correo Electronico:</label>
            <div class="col-sm-6">
                <input type="email" required name="email" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Password:</label>
            <div class="col-sm-6">
                <input type="password" name="password" required class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Confirmar Password:</label>
            <div class="col-sm-6">
                <input type="password" name="password2" required class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Dirección:</label>
            <div class="col-sm-6">
                <input type="text" name="direccion" required class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Telefono:</label>
            <div class="col-sm-6">
                <input type="text" name="telefono" required class="form-control">
            </div>
        </div>
        {% if current_user.is_authenticated and current_user.is_admin()%}
        <div class="form-group">
            <label class="control-label col-sm-2">Tipo:</label>
            <div class="col-sm-6">
                <select name="tipo" class="form-control">
                    <option value="C">Cliente</option>
                    <option value="A">Administrador</option>
                </select>
            </div>
        </div>
        {% endif %}
        <div class="col-sm-offset-2">
        {%if msg!=None %}
            {% if msg['estatus']=='ok' %}
                <div class="alert alert-success col-sm-7">
                    <p class="text-center"><span class="glyphicon glyphicon-ok"></span> {{msg['value']}}</p>
                </div>
            {% else %}
            <div class="alert alert-danger col-sm-7">
                <p class="text-center"><span class="glyphicon glyphicon-alert"></span> {{msg['value']}}</p>
            </div>
            {% endif %}
        {% endif %}
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="/login" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left"></span> Regresar
                </a>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Registrar
                </button>
            </div>
        </div>
    </form>
{% endblock %}