{% extends 'base.html' %}
{% block contenido %}
<div class="page-header">
    <h1 class="bg-primary text-center">Solicitud de Password</h1>
</div>
    <p>Si usted ha proporcionado un correo electrónico valido, entonces un correo se le ha enviado a esa dirección <br>
        en donde se indican las instrucciones que debe seguir para resetear su password. </p>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="/login" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left"></span> Regresar
                </a>
            </div>
        </div>
    </form>
{% endblock %}